<table class="table table-bordered table-hover caption-top">
    <caption>Query type legend</caption>
    <tbody class="small">
        <tr>
            <td class="fw-bold">matches</td>
            <td>
                Value of the column must be <span class="fst-italic">the same</span> as the value of the condition (<span class="fst-italic">case-sensitive</span>).
            </td>
        </tr>
        <tr>
            <td class="fw-bold">matches_loose</td>
            <td>
                Value of the column must be <span class="fst-italic">the same</span> as the value of the condition (<span class="fst-italic">case-insensitive</span>).
            </td>
        </tr>
        <tr>
            <td class="fw-bold">not_matches</td>
            <td>
                Value of the column must <span class="fst-italic">not</span> be the same as the value of the condition (<span class="fst-italic">case-sensitive</span>).
            </td>
        </tr>
        <tr>
            <td class="fw-bold">not_matches_loose</td>
            <td>
                Value of the column must <span class="fst-italic">not</span> be the same as the value of the condition (<span class="fst-italic">case-insensitive</span>).
            </td>
        </tr>
        <tr>
            <td class="fw-bold">contains</td>
            <td>
                Value of the column must <span class="fst-italic">contain</span> the value of the condition (<span class="fst-italic">case-sensitive</span>).
            </td>
        </tr>
        <tr>
            <td class="fw-bold">contains_loose</td>
            <td>
                Value of the column must <span class="fst-italic">contain</span> the value of the condition (<span class="fst-italic">case-insensitive</span>).
            </td>
        </tr>
        <tr>
            <td class="fw-bold">not_contains</td>
            <td>
                Value of the column must <span class="fst-italic">not</span> contain the value of the condition (<span class="fst-italic">case-sensitive</span>).
            </td>
        </tr>
        <tr>
            <td class="fw-bold">not_contains_loose</td>
            <td>
                Value of the column must <span class="fst-italic">not</span> contain the value of the condition (<span class="fst-italic">case-insensitive</span>).
            </td>
        </tr>
        <tr>
            <td class="fw-bold">greater</td>
            <td>
                Value of the column must be <span class="fst-italic">greater</span> than the value of the condition (<span class="fst-italic">applies to numbers and dates/times</span>).
            </td>
        </tr>
        <tr>
            <td class="fw-bold">greater_or_equal</td>
            <td>
                Value of the column must be <span class="fst-italic">greater or equal</span> to the value of the condition (<span class="fst-italic">applies to numbers and dates/times</span>).
            </td>
        </tr>
        <tr>
            <td class="fw-bold">lower</td>
            <td>
                Value of the column must be <span class="fst-italic">lower</span> than the value of the condition (<span class="fst-italic">applies to numbers and dates/times</span>).
            </td>
        </tr>
        <tr>
            <td class="fw-bold">lower_or_equal</td>
            <td>
                Value of the column must be <span class="fst-italic">lower or equal</span> to the value of the condition (<span class="fst-italic">applies to numbers and dates/times</span>).
            </td>
        </tr>
        <tr>
            <td class="fw-bold">between</td>
            <td>
                Value of the column must be <span class="fst-italic">within the range</span> given by the two values of the condition (<span class="fst-italic">applies to numbers and dates/times</span>).
            </td>
        </tr>
        <tr>
            <td class="fw-bold">between_inclusive</td>
            <td>
                Value of the column must be <span class="fst-italic">within the range or equal to</span> the two values of the condition (<span class="fst-italic">applies to numbers and dates/times</span>).
            </td>
        </tr>
        <tr>
            <td class="fw-bold">not_between</td>
            <td>
                Value of the column must <span class="fst-italic">not be within</span> the range given by the two values of the condition (<span class="fst-italic">applies to numbers and dates/times</span>).
            </td>
        </tr>
        <tr>
            <td class="fw-bold">not_between_inclusive</td>
            <td>
                Value of the column must <span class="fst-italic">not be within the range or equal to</span> the two values of the condition (<span class="fst-italic">applies to numbers and dates/times</span>).
            </td>
        </tr>
        <tr>
            <td class="fw-bold">empty</td>
            <td>
                Value of the column must <span class="fst-italic">be empty</span>.
            </td>
        </tr>
        <tr>
            <td class="fw-bold">not_empty</td>
            <td>
                Value of the column must <span class="fst-italic">not</span> be empty.
            </td>
        </tr>
    </tbody>
</table>
